.container {
  display: flex;
  justify-content: space-evenly;
}

.control-center__title,
.mars__title {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  margin: 0;
}

img {
  width: 90%;
  height: 400px;
}

.picture-name {
  text-align: center;
}
.daily-image {
  text-align: center;
}

.mars__container {
  display: flex;
  justify-content: space-around;
}

.mars__today-data,
.mars__tomorrow-data,
.mars__info-data {
  border: 1px red solid;
  width: 100px;
  height: 100px;
}

.mars__today,
.mars__tomorrow,
.mars__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mars__today-data {
  color: red;
  text-align: center;
  margin: 0 auto;
}
/* .testi {
  width: 10%;
}

.container .card .title {
  flex: 1 1 auto;
}

.title {
  text-align: center;
  vertical-align: middle;

  line-height: 450px;
}

h4 {
  margin: 0;
}
 */
